body{
    font-family: sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header a {
    padding: 3em;
}

a:visited {
    color: blue;
}

#contact-form .form-success {
    font-weight: bold;
}