body {
    font-family: sans-serif;
    margin: 0;
    cursor: url('small crest.png'), auto;
}

a:visited {
    color: blue;
}

/* HEADER SYTLING */

#header {
    position: sticky;
    top: 0;
    background-color: #f7f7f7;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:visited {
    color: black;
}

/* Here we start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    /* Make the markers disappear */
    list-style-type: none;
    padding: 0;
    margin: 0.2em;
}

nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    padding: 0.3em 1em;
}

/* These two lines make the checkbox and the label disappear when we are in desktop mode. */
nav input[type="checkbox"],
nav label {
    display: none;
}

/* This start to get interesting: we go into mobile phone mode */
@media (max-width: 576px) {

    /* Here is the magic: if the checkbox is not marked, the adjacent list is not displayed */
    nav input[type="checkbox"]:not(:checked)+ul {
        display: none;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    /* Stlying the menu icon, the checkbox stays hidden */
    nav label {
        text-align: right;
        display: flex;
        align-items: center;
        padding: 1em;
    }

    /* Because we are in mobile mode, we want to display it as a vertical list */
    nav ul {
        display: block;
    }

    /* We have two lists: the first one are the always visibile items in the 
      menu bar. The second one is the one that will be hidden */
    nav ul:last-child {
        width: 100%;
        flex-basis: 100%;
    }

    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding-bottom: 1em;
    }
}

#header img {
    height: 60px;
    width: auto;
}

/* END OF HEADER CSS */

#contact-form .form-success {
    font-weight: bold;
}

#footer {
    background-color: #eee;
    padding: 1em;
}

/* main {
    padding: 2em;
} */

#banner {
    width: 100%;
}

#calendar {
    width: 100%;
    max-width: 300px;
    height: 600px;
    border-width: 0;
}