body {
    background-color: #c2a83e;
}

main {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-around;
}

/* section {
    max-width: 500px;
} */


.carousel-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}